@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
.date{
font-size: 20px;
color: #E96D71;
margin: 10px 0;
border-bottom:2px solid rgba(255, 180, 180, 0.404);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0 7rem;
    height: 10vh;
    background-image: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
    background-color: black;
    color: white;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}
.converter{
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
}
.currency-container{
    background-color: #FAD7A1;
    padding: 50px;
}
.second-currency {
    border-radius:0px 0px 50px 50px;
    border-top:2px solid rgba(56, 46, 28, 0.178)  ;
}

.first-currency{
    border-radius: 50px 50px 0px 0px;
}
.currency,input{
  font-size: 1rem;
  padding: 0.8rem;
}
input{
    border-radius: 0 10px;
    border: none
}
img{
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.25s;
}
img:hover{
    background-color: #e96d7121;
}
.currency{
    background-color: transparent;
    border: none;
    cursor: pointer;
   
}
@media (max-width:440px) {
        .currency,input{
            font-size: 0.8rem;
            padding: 10px;
          }
          input{
            border-radius: 0 10px;
          }
          .currency-container{
            background-color: #FAD7A1;
            padding: 30px;
        }
       
        img{
            margin: 20px 0;
            width: 40px;
        }
        .date{
            font-size: 15px;
            color: #E96D71;
            margin: 20px 0;
            }
    
  }
  @media (max-width:340px) {
    .currency,input{
        font-size: 0.8rem;
        padding: 9px;
      }
      input{
        border-radius: 0 10px;
      }
      .currency-container{
        background-color: #FAD7A1;
        padding: 25px;
    }
    img{
        margin: 20px 0;
        width: 35px;
    }
    .date{
        font-size: 13px;
        color: #E96D71;
        margin: 20px 0;
        }
  }